<h2>register</h2>
<form class='form'>
	<label for='name'>what should we call you?</label>
	<input id='name' type='text' />
	<label for='email'>an email we can contact you at.</label>
	<input id='email' type='text' />
	<div class='controls'>
		<button type='submit' class='btn'>register</button>
	</div>
</form>