<!DOCTYPE html>
<html style='height:100%;'>
  <head style='height:100%;'>
    <title>WriteSome</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href="assets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="assets/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body class='container' style='height:100%;'>
    <div class='row' style='height:100%;'>
      <%= yield %>
    </div>
  </body>
</html>
